.blockquote {
    padding-left: 2rem;
    position: relative;

    // @include media-breakpoint-up(lg) {
    //     max-width: 50%;
    // }

    &::before {
        @extend .fa;
        content: '\f10d';
        font-weight: 700 !important;
        color: $primary;
        position: absolute;
        top: 0;
        left: 0;
    }
}