// Adds custom focus mixin to all links
a {
    &:focus {
        @include focus();
    }
}

// <p> tags in bootstrap have a default bottom margin
#content {
    p + ul {
        margin-top: -0.5rem;
    }

    > *:last-child {
        margin-bottom: 0;
    }
}

// Removes the outline from links if its clicked with a mouse
*:focus:not(:focus-visible) {
    outline: none !important;
}

// Keeps the footer at the bottom of the visible screen when there
// is not enough content available
#wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .page-header-container,
    .ntg-footer {
        flex: none;
    }

    main {
        flex: 1 0 auto;
    }
}

// clears the 'x' from ie
input[type=search]::-ms-clear,
input[type=search]::-ms-reveal {
  display: none;
  width: 0;
  height: 0; 
}

// clears the 'x' from webkit browsers
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none; 
}

a {
    color: inherit;
    text-underline-offset: $text-underline-offset;
    text-decoration-thickness: 2px;

    &:hover,
    &:focus {
        text-decoration: none;
    }
}

.lead {
    @include media-breakpoint-up(md) {
        line-height: 41.04px;
    }

    a {
        text-decoration-thickness: 1px;
    }
}

ol, ul, dl {
    padding-left: 1.5rem;
}