.ntg-side-nav {
    margin-bottom: 2rem;

    @include media-breakpoint-up(lg) {
        margin-bottom: 0;
    }

    .accordion-button {
        padding: 1rem;
        box-shadow: none;
    }

    .accordion-collapse {
        @include media-breakpoint-down(lg) {
            border-top: 1px solid $border-color;
        }
    }

    .accordion-item {
        @include media-breakpoint-up(lg) {
            border: none;
        }

        .accordion-header {
            display: block;

            @include media-breakpoint-up(lg) {
                display: none;

                ~ #nav-default {
                    display: block !important;
                }
            }
        }
    }

    #nav-default {
        @include media-breakpoint-down(lg) {
            padding: 0 1rem;
        }

        > ul > li {
            &:not(:last-child) {
                border-bottom: 1px solid #ccc;
            }
        }
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    li {
        position: relative;
    }

    li.active {
        > a,
        > span {
            color: $black;
            font-weight: bold;
        }
    }

    a {
        &:hover,
        &:focus {
            text-decoration: none;
        }
    }

    .ntg-side-nav__toggle {
        border-radius: 0;
        border: 1px solid #7d8083;
    }

    .ntg-side-nav__title {
        margin: 0;
        font-size: 24px;
        border-bottom: 3px solid $primary;
        text-decoration: none;
        padding-bottom: 0.5rem;

        @include media-breakpoint-down(lg) {
            display: none;
        }

        @include media-breakpoint-up(lg) {
            padding-top: 0;
        }
    }

    a,
    span {
        display: block;
        padding: 1rem 0;
    }

    ul ul a {
        padding-right: 3rem;
        padding-left: 2rem;
    }

    ul ul ul a {
        padding-left: 3.75rem;
    }

    .ntg-side-nav__collapser {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        padding: 0 1rem;
        height: 56px;
        text-decoration: none;
        margin-right: -1rem;
    }

    .collapser {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: inherit;
        font-size: 0;

        @include media-breakpoint-down(lg) {
            padding: 0 2px 0 0;
        }
    }

    .collapser:after {
        content: '\2015';
        @include font-size(16px);
    }

    .collapsed .collapser:after {
        content: '\2026';
        @include font-size(20px);
        margin-bottom: 12px;
    }

    .collapse:not(.show) {
        display: none;
    }
}
