/* Ubuntu */
@font-face {
    font-family: 'Ubuntu';
    src: url('../assets/fonts/ubuntu/Ubuntu-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Ubuntu';
    src: url('../assets/fonts/ubuntu/Ubuntu-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Ubuntu';
    src: url('../assets/fonts/ubuntu/Ubuntu-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Ubuntu';
    src: url('../assets/fonts/ubuntu/Ubuntu-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Ubuntu';
    src: url('../assets/fonts/ubuntu/Ubuntu-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Ubuntu';
    src: url('../assets/fonts/ubuntu/Ubuntu-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Ubuntu';
    src: url('../assets/fonts/ubuntu/Ubuntu-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: Italic;
    font-display: swap;
}
@font-face {
    font-family: 'Ubuntu';
    src: url('../assets/fonts/ubuntu/Ubuntu-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Ubuntu';
    src: url('../assets/fonts/ubuntu/Ubuntu-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

/* Shaimus */
@font-face {
    font-family: 'Shaimus';
    src:
        url('../assets/fonts/shaimus/Shaimus.ttf') format('truetype'),
        url('../assets/fonts/shaimus/Shaimus.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Marshmallow */
@font-face {
    font-family: 'Marshmallow';
    src:
        url('../assets/fonts/marshmallow/Marshmallow.ttf') format('truetype'),
        url('../assets/fonts/marshmallow/Marshmallow.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}